<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>sistema</title>
        
        <link rel="stylesheet/less" type="text/css" href="assets/style.less"/>

    </head>
    <body>
        <div class="container">

            <nav id="nav">
                <h1 class="navTitle">Sistema de login</h1>

                <div class="buttons">

                    <a href="#">home</a>
                    <a href="#">logar</a>
                    <a href="#">perhaps</a>
                    <a href="#">sort</a>
                    <a href="#">today</a>

                </div>

            </nav>


            <form action="assets/login-inc.php" name="login" id="login">

                <h1 class="formTitle">Login</h1>
                

                <div>
                    <label for="name">Nome</label>
                    <input type="text" name="name" id="name" placeholder="insira seu nome">
                </div>
                <div>
                    <label for="pwd">Senha</label>
                    <input type="password" name="pwd" id="pwd" placeholder="insira sua senha">
                </div>
                <a href="forgotpwd.php">Esqueceu sua senha?</a>
                

                <button class="submit" name="submit" type="submit">Logar</button>
                
                
                <!-- <div class="intersection">
                    <hr>
                    <p>ou</p>
                    <hr>
                </div> -->

                <p class="registerText">não possui uma conta? <a href="register.php">cadastre-se</a></p>
            </form>
            

        </div>

        
        <!-- less -->
		<script src="https://cdn.jsdelivr.net/npm/less@4" ></script>
    </body>
</html>